* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Figtree", sans-serif;
}

.blog-card {
  background-color: white;
  max-width: 23rem;
  width: 90%;
  padding: 1.36rem;
  border-radius: 1.2rem;
  border: solid black 0.1rem;
  box-shadow: 0.5rem 0.5rem 0rem black;
}

.blog-img {
  display: block;
  border-radius: 0.68rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.tag {
  display: block;
  font-weight: 850;
  background-color: hsl(47, 88%, 63%);
  color: black;
  padding: 0.4rem 0.75rem;
  width: fit-content;
  border-radius: 0.25rem;
  margin-bottom: 0.85rem;
  font-size: 0.84rem;
}

.published-date {
  font-weight: 600;
  margin-bottom: 1.1rem;
  color: hsl(0, 0%, 7%);
  font-size: 0.85rem;
}

.title {
  font-size: 1.47rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 1.5rem;
  color: hsl(0, 0%, 42%);
  font-size: 1rem;
  line-height: 1.5rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1rem;
}

.author img {
  width: 2rem;
  height: 2rem;
}

.author-name {
  font-weight: 850;
  font-size: 0.87rem;
}

.attribution {
  font-size: 0.68rem;
  bottom: 0.62rem;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.title a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}
.title a:hover {
  cursor: pointer;
  text-decoration: none;
  color: hsl(47, 88%, 63%);
}
